.o-we-table-menu {
    border: $border-width solid rgba($color: $o-brand-primary, $alpha: 1.0);
    color: #fff;
    background-color: rgba($color: $o-brand-primary, $alpha: 0.7);
    touch-action: none;
}
